<md-tab-group>
    <md-tab label="Timeline">
        <app-game-timeline
                [events]="[
    {
        'playerName': 'Player1',
        'time': '11:01',
        'team': 'first'
    },
    {
        'playerName': 'Player2',
        'time': '11:01',
        'team': 'second'
    },
    {
        'playerName': 'Player2',
        'time': '11:01',
        'team': 'second'
    },
    {
        'playerName': 'Player2',
        'time': '11:01',
        'team': 'second'
    },
    {
        'playerName': 'Player1',
        'time': '11:01',
        'team': 'first'
    },
    {
        'playerName': 'Player2',
        'time': '11:01',
        'team': 'second'
    },
    {
        'playerName': 'Player2',
        'time': '11:01',
        'team': 'second'
    }
]"></app-game-timeline>
    </md-tab>
    <md-tab label="Statistics">
        <!--<main [class]="theme">-->
        <!--<ngx-charts-pie-chart-->
        <!--[view]="view"-->
        <!--[scheme]="colorScheme"-->
        <!--[schemeType]="schemeType"-->
        <!--[results]="single"-->
        <!--[legend]="showLegend"-->
        <!--[explodeSlices]="explodeSlices"-->
        <!--[labels]="showLabels"-->
        <!--[doughnut]="doughnut"-->
        <!--[gradient]="gradient"-->
        <!--(select)="onSelect($event)">-->
        <!--</ngx-charts-pie-chart>-->
        <!--</main>-->
    </md-tab>
</md-tab-group>
