<md-tab-group>
  <md-tab label="General">
    <div class="game-result-wrapper">
      <app-game-result [game]="game"></app-game-result>
    </div>
  </md-tab>
  <md-tab label="Timeline">
    <app-game-timeline
      [events]="events"
      [firstTeam]="firstTeam"
      [secondTeam]="secondTeam"
    ></app-game-timeline>
  </md-tab>
  <md-tab label="Statistics" style="text-align: center;">
    <main style="fill: #5aa454; display: inline-block;" *ngFor="let gameStats of stats">
      <ngx-charts-gauge
        [view]="chartsView"
        [scheme]="chartsColorScheme"
        [results]="gameStats.data"
        [min]="gameStats.min"
        [max]="gameStats.max  "
        [showAxis]="false"
        [angleSpan]="240"
        [startAngle]="-120"
        [units]="gameStats.units"
      >
      </ngx-charts-gauge>
    </main>
  </md-tab>
</md-tab-group>
