<md-card class="card team">
  <div class="team__labels-container">
    <div><span class="team__label">Name: </span>{{team.name}}</div>
    <div><span class="team__label">Group: </span>{{team.group}}</div>
  </div>
  <img class="team__logo" [src]="team.logo">
</md-card>

<div class="team-stats-container"
     *ngFor="let teamStats of stats">
  <ngx-charts-gauge
    [view]="chartsView"
    [scheme]="chartsColorScheme"
    [results]="teamStats.data"
    [min]="teamStats.min"
    [max]="teamStats.max"
    [showAxis]="false"
    [angleSpan]="240"
    [startAngle]="-120"
    [units]="teamStats.units"
  >
  </ngx-charts-gauge>
  <span>{{teamStats.title}}</span>
</div>
