<md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <img height="12px" class="logo" src="/assets/images/logo.svg">
</md-toolbar>
<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="over" opened="false">
    <md-nav-list *ngFor="let group of menuGroups">
      <md-divider *ngIf="group.title"></md-divider>
      <h3 md-subheader *ngIf="group.title">{{group.title}}</h3>
      <md-list-item *ngFor="let menuItem of group.items">
        <md-icon md-list-icon>{{menuItem.icon}}</md-icon>
        <h3 md-line><a (click)="sidenav.close()" [routerLink]="menuItem.link">{{menuItem.title}}</a></h3>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
<a md-fab class="md-fab md-fab-bottom-right" [routerLink]="['games', 'new']">
  <md-icon>add</md-icon>
</a>





