<div class="header" *ngIf="firstTeam && secondTeam">
    <div class="header-column">{{firstTeam.name}}</div>
    <div class="header-column">{{secondTeam.name}}</div>
</div>
<ul class="game-timeline">
    <li *ngFor="let event of events" class="game-timeline__event"
        [ngClass]="{
  'game-timeline__event_first-team': event.team === 'first',
  'game-timeline__event_second-team': event.team === 'second'
  }"
    >
        <fa name="soccer-ball-o"></fa>
        <div class="content">
            <div class="player">{{event.playerName}}</div>
            <div class="time">{{event.time}}</div>
            <div class="score">({{event.score.firstTeam}}:{{event.score.secondTeam}})</div>
        </div>
    </li>
</ul>
