.teams-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team .team-logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: none;
}

.team.team-first .team-logo {
  margin-right: 10px;
}

.team.team-second .team-logo {
  margin-left: 10px;
}

.team .team-credentials {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.team.team-first .team-credentials {
  float: right;
}

.team.team-second .team-credentials {
  float: left;
}

.team .team-group {
  color: #afafaf;
}

.score {
  text-align: center;
  flex-basis: 45px;
  font-weight: 700;
  font-size: 18px;
}

.description {
  margin-top: 10px;
  font-size: 14px;
  color: #afafaf;
}
